
<label for="showPasswordCheckbox">
    Show Password
    <input type="checkbox" id="showPasswordCheckbox" />
</label>

<script>
    $(document).ready(function () {
        $('#showPasswordCheckbox').change(function () {
            var passwordInput = $('#passwordInput');
            if ($(this).is(':checked')) {
                passwordInput.attr('type', 'text');
            } else {
                passwordInput.attr('type', 'password');
            }
        });
    });

</script>