#animalImage {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
}

.card {
    border-radius: 15px; /* Remove rounded corners from the card */
    overflow: hidden;
    background-color: antiquewhite;
    margin: 15px;
}

.card-body {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.card {
}
