@model PetShopModels.Animal

@{
    ViewBag.Title = "EditAnimal";
}
@section header{

Edit animal
}
<form id="NewAnimalForm" method="post" asp-action="EditAnimal" asp-controller="Admin" class="needs-validation" enctype="multipart/form-data">
    <partial name="_AddOrEditPartial" model="Model" />
</form>

